// LANG_NEUTRAL(0), SUBLANG_NEUTRAL(0)
LANGUAGE 0, 0

//1 RT_MANIFEST "image-viewer.manifest"
1 24 "image-viewer.manifest"

#define ID_ICON_IMAGE_VIEWER 1
ID_ICON_IMAGE_VIEWER ICON "image-viewer.ico"

VS_VERSION_INFO VERSIONINFO
//FILEVERSION     VERSION_MAJOR,VERSION_MINOR,VERSION_PATCH,VERSION_COMMIT_HEIGHT
//PRODUCTVERSION  VERSION_MAJOR,VERSION_MINOR,VERSION_PATCH,VERSION_COMMIT_HEIGHT
//FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
//FILEFLAGS               VER_DBG
//FILEOS                  VOS_NT
//FILETYPE                VFT_APP
//FILESUBTYPE             VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
        VALUE "CompanyName",        "Jonathan Marler"
        VALUE "FileDescription",    "ImageViewer"
        //VALUE "FileVersion",        VERSION
        VALUE "LegalCopyright",     "(C) 2023 Jonathan Marler"
        VALUE "OriginalFilename", "image-viewer.exe"
        VALUE "ProductName",        "ImageViewer"
        //VALUE "ProductVersion",     VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409,1200
    END
END
